mixin productBlock(data)
	.product-block&attributes(attributes)
		._about
				ul._params
					li._params-item
						._params-icon
							img(src="images/param-icon-1.svg", alt="")
						._params-info
							._params-title Артикул:
							._params-subtitle 56854563
					li._params-item
						._params-icon
								img(src="images/param-icon-8.svg", alt="")
						._params-info
							._params-title Доставка:
							._params-subtitle 12-25 мая
					li._params-item
						._params-icon
								img(src="images/param-icon-2.svg", alt="")
						._params-info
							._params-title Страна происхождения:
							._params-subtitle Россия
					li._params-item
						._params-icon
								img(src="images/param-icon-3.svg", alt="")
						._params-info
							._params-title Срок посадки:
							._params-subtitle Круглогодично
					li._params-item
						._params-icon
								img(src="images/param-icon-4.svg", alt="")
						._params-info
							._params-title Корневая система:
							._params-subtitle закрытая корневая 5-7 л
					li._params-item
						._params-icon
								img(src="images/param-icon-5.svg", alt="")
						._params-info
							._params-title Производитель:
							._params-subtitle ООО "Грин Центр"
					li._params-item
						._params-icon
								img(src="images/param-icon-6.svg", alt="")
						._params-info
							._params-title Поставляется:
							._params-subtitle в контейнерах 1-3 л
						
		._img
			a(href="#")
				img.w-100(src=data.img, alt="")
			if data.label != undefined && data.label != ""
				+webp(data.label).product-block__label

		._wrap
			._title
				!=data.title
			._prices
				._state В наличии
				._prices-row
					._prices-left
						._price
							!=data.price	
						._count / 1 шт.
					._prices-right
						a._favorite(href="#" class=data.favorite)
							+svg('star')
						._price-old
							!=data.priceOld
			._button
				a.btn.-green.-block(href="#") Добавить в корзину

mixin productBlockSpecial(data)
	.product-block.-special&attributes(attributes)
		._about
				ul._params
					li._params-item
						._params-icon
							img(src="images/param-icon-1.svg", alt="")
						._params-info
							._params-title Артикул:
							._params-subtitle 56854563
					li._params-item
						._params-icon
								img(src="images/param-icon-8.svg", alt="")
						._params-info
							._params-title Доставка:
							._params-subtitle 12-25 мая
					li._params-item
						._params-icon
								img(src="images/param-icon-2.svg", alt="")
						._params-info
							._params-title Страна происхождения:
							._params-subtitle Россия
					li._params-item
						._params-icon
								img(src="images/param-icon-3.svg", alt="")
						._params-info
							._params-title Срок посадки:
							._params-subtitle Круглогодично
					li._params-item
						._params-icon
								img(src="images/param-icon-4.svg", alt="")
						._params-info
							._params-title Корневая система:
							._params-subtitle закрытая корневая 5-7 л
					li._params-item
						._params-icon
								img(src="images/param-icon-5.svg", alt="")
						._params-info
							._params-title Производитель:
							._params-subtitle ООО "Грин Центр"
					li._params-item
						._params-icon
								img(src="images/param-icon-6.svg", alt="")
						._params-info
							._params-title Поставляется:
							._params-subtitle в контейнерах 1-3 л
						
		._img.w-100
			a(href="#")
				img.w-100(src=data.img, alt="")
			if data.label != undefined && data.label != ""
				+webp(data.label).product-block__label
		._wrap
			._title
				!=data.title
			._prices
				._state В наличии
				._prices-row
					._prices-left
						._price
							!=data.price	
						._count / 1 шт.
					._prices-right
						a._favorite(href="#" class=data.favorite)
							+svg('star')
						._price-old
							!=data.priceOld
			._button
				a.btn.btn--icon.btn--yellow.btn--fire.btn--block(href="#")  
					+svg('fire')
					span Успеть купить
					
mixin productBlockPreOrder(data)
	.product-block.-pre-order&attributes(attributes)
		._about
				ul._params
					li._params-item
						._params-icon
							img(src="images/param-icon-1.svg", alt="")
						._params-info
							._params-title Артикул:
							._params-subtitle 56854563
					li._params-item
						._params-icon
								img(src="images/param-icon-8.svg", alt="")
						._params-info
							._params-title Доставка:
							._params-subtitle 12-25 мая
					li._params-item
						._params-icon
								img(src="images/param-icon-2.svg", alt="")
						._params-info
							._params-title Страна происхождения:
							._params-subtitle Россия
					li._params-item
						._params-icon
								img(src="images/param-icon-3.svg", alt="")
						._params-info
							._params-title Срок посадки:
							._params-subtitle Круглогодично
					li._params-item
						._params-icon
								img(src="images/param-icon-4.svg", alt="")
						._params-info
							._params-title Корневая система:
							._params-subtitle закрытая корневая 5-7 л
					li._params-item
						._params-icon
								img(src="images/param-icon-5.svg", alt="")
						._params-info
							._params-title Производитель:
							._params-subtitle ООО "Грин Центр"
					li._params-item
						._params-icon
								img(src="images/param-icon-6.svg", alt="")
						._params-info
							._params-title Поставляется:
							._params-subtitle в контейнерах 1-3 л
						
		._img.w-100
			a(href="#")
				+webp(data.img).w-100
			if data.label != undefined && data.label != ""
				+webp(data.label).product-block__label
		._wrap
			._title
				!=data.title
			._prices
				._state Под заказ
				._prices-row
					._prices-left
						._price
							!=data.price	
						._count / 10 шт.
					._prices-right
						a._favorite(href="#" class=data.favorite)
							+svg('star')
						._price-old
							!=data.priceOld
			._button
				if data.state == false 
					a.btn.-sm.-block.-red.-disabled(href="#") Отказ поставщика
				else 
					a.btn.-sm.-block.-blue-light.-disabled(href="#") Прием заказов
				a.btn.-block(href="#") Заказать